@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* Theme colors */

:root {
    --primary: #683503;
    --secondary: #280A00;
    --text: #333333;
    --white: #FFFFFF;
    --dark: #080200;
    --icon-bg: #E1D7CD;
}

/* Reset and font */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Custom scrollbar */

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background: lightgray;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--dark);
    border-radius: 20px;
    border: 1.5px solid var(--primary);
}

/* Utility Class */

button {
    cursor: pointer;
    transition: ease;
    transition-duration: 500ms;
}
button:hover {
    scale: 90%;
}

/* Header Section */

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    padding: 0 2rem;
    background-color: var(--white);
    width: 100%;
}

.brand img {
    width: 2.5rem;
}

.toggler img {
    width: 1.875rem;
}

section:not(.hero){
    margin-top: 4rem;
}

/* Hero Section */

.hero {
    background-image: url('Assets/images/hero.svg');
    height: calc(100vh - 4rem);
    background-position: bottom;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-inline: .5rem;
}

.hero .hero_content {
    font-style: normal;
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 4.25rem;
    text-align: center;
    color: var(--white);
}

.hero .hero_content button {
    background-color: var(--white);
    color: var(--primary);
    border: none;
    border-radius: 0.3125rem;
    padding: 0.6875rem 1.375rem;
    margin-block: 2rem;
}
.hidden {
    display: none !important;
}
.border {
    border: 2px solid red;
}
.bg {
    border: 2px solid green
}
.hero .left_arrow img,
.hero .right_arrow img {
    width: 2.5rem;
    margin-inline: 2rem;
    cursor: pointer;
}

.hero .dots {
    position: absolute;
    bottom: 2rem;
    display: flex;
}

.hero .dots div {
    background-color: white;
    opacity: 0.5;
    width: 1rem;
    border-radius: 50%;
    aspect-ratio: 1;
    margin-inline: .2rem;
    cursor: pointer;
}

.hero .dots div.active {
    opacity: 1;
}

/* About Section */

.about {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-inline: 1rem;
}

.about .about_content, .about .about_image {
    display: flex;
    justify-content: start;
    flex-direction: column;
    width: 50%;
    height: 80vh;
    min-height: 100%;
}

.about .about_image {
    width: 40%;
    margin-block: 2rem;
}

.about .about_image img {
    width: 90%;
}

.about .about_content {
    width: 40%;
}
.about .about_content h3, .stories .stories_head h3, .activities .activities_head h3, .prayer .prayer_head h3 {
    font-weight: 600;
    font-size: 32px;
    line-height: 63px;
    color: var(--secondary);
}
.about .about_content p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 43px;
    color: var(--text);
    margin-top: 1rem;
}
.about .about_content button {
    color: var(--white);
    background-color: var(--primary);
    border: none;
    border-radius: 0.3125rem;
    padding: 0.6875rem 1.375rem;
    margin-block: 1rem;
    width: fit-content;
}
.stories .stories_head {
    display: flex;
    justify-content: center;
}
.stories .stories_head h3 {
    padding: .5rem;
}
.stories .stories_body {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
}

.stories .stories_body .stories_content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}
.stories .stories_body .stories_content div {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.stories .stories_body .stories_content div img{
    width: 100%;
}
.stories .left_arrow img,
.stories .right_arrow img {
    width: 2rem;
    margin-inline: 2rem;
    cursor: pointer;
}

.stories .left_arrow.disabled,
.stories .right_arrow.disabled {
    display: none;
}

/* Activities section */
.activities .activities_head {
    display: flex;
    justify-content: center;
}
.activities .activities_body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);   
    gap: 4rem;
    margin-top: 4rem;
    text-align: center;
}
.activities .activities_body div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.activities .activities_body div .icon {
    background-color: var(--icon-bg);
    display: flex;
    justify-content: center;
    width: 7rem;
    aspect-ratio: 1;
    border-radius: 50%;
}
.activities_body div .icon img {
    width: 3rem;
}
.prayer {
    background-image: url('Assets/images/prayer-times.svg');
    background-size: cover;
    background-position: bottom;
    height: 80vh;
    color: var(--white);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.prayer .prayer_head {
    text-align: center;
    padding-inline: 1rem;
}
.prayer .prayer_head h3 {
    color: var(--white);
    margin-bottom: 1.5rem;
}
.prayer .prayer_times {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 4rem;
}
.prayer .prayer_times div {
    text-align: center;
}
.prayer .prayer_times div h5 {
    margin-bottom: 1rem;
}
.prayer .prayer_timetable {
    display: flex;
    justify-content: center;
}
.prayer .prayer_timetable button {
    color: var(--white);
    background-color: var(--primary);
    border: none;
    border-radius: 0.3125rem;
    padding: 0.6875rem 1.375rem;
    margin-block: 1rem;
    width: fit-content;
}
/* Tablet View */

@media (max-width: 992px) {
    .hero .hero_content {
        font-style: normal;
        font-weight: 600;
        font-size: 2.125rem;
        line-height: 3.25rem;
        text-align: center;
        color: var(--white);
    }
    .hero .left_arrow img,
    .hero .right_arrow img {
        width: 2.5rem;
        margin-inline: 1rem;
        cursor: pointer;
    }
    .about {
        flex-direction: column;
        height: fit-content;
    }
    .about .about_content, .about .about_image {
        width: 100%;
        height: fit-content;
    }
    
    .about .about_image {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .about .about_image img {
        width: 90%;
    }
    
    .about .about_content {
        width: 90%;
    }
    .about .about_content h3, .stories .stories_head h3, .activities .activities_head h3 .prayer .prayer_head h3 {
        font-weight: 600;
        font-size: 32px;
        line-height: normal;
    }
    .about .about_content p {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: normal;
    }
    .stories .stories_body .stories_content {
        grid-template-columns: repeat(2, 1fr);
    }
    .stories .stories_body {
        flex-direction: column;
    }
    .stories .stories_body .stories_content div {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-inline: auto;
        align-items: center;
    }
    .stories .stories_body .stories_content div img {
        width: 90%;   
    }
    .stories .stories_body .stories_content div p {
        padding-inline: 1rem;
    }
    .stories .left_arrow,
    .stories .right_arrow {
    display: none;
}
    .activities .activities_body {
        grid-template-columns: repeat(2, 1fr);  
        gap: 2rem;
        padding-inline: 1rem;
        align-items: center;
    }
    .prayer .prayer_times {
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}

/* Mobile view */

@media (max-width: 600px) {
    .hero .hero_content {
        font-style: normal;
        font-weight: 600;
        font-size: 1.125rem;
        line-height: 2.25rem;
        text-align: center;
        color: var(--white);
    }
    .hero .left_arrow img,
    .hero .right_arrow img {
        width: 2.5rem;
        margin-inline: .5rem;
        cursor: pointer;
    }
    .about .about_content button {
        width: 100%;
    }
    .stories .stories_body .stories_content, .prayer .prayer_times {
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
    }

}
